* {
  margin: 0;
  padding: 0;
}

body {
  background-color: brown;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100vw;
  height: 100vh;
}

.flip {
  transform: rotateY(180deg);
}

.flipAgain {
  transform: rotateY(180deg);
}

.card {
  margin: 20px;
  display: inline-block;
  background-color: brown;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 43%;
  max-height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  -moz-transition: all 0.8s ease;
  -ms-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
}

.back {
  height: 200px;
  width: 150px;
  cursor: pointer;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.front {
  height: 200px;
  width: 150px;
  border: 5px solid black;
  cursor: pointer;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

h1,
h2 {
  color: white;
}

.credits {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 250px;
}

.score {
  width: 90vw;
  height: 100vh;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}
